.input-text {
  margin: 24px 0;
}

.input-text label {
  display: block;
  margin: 8px;
  font-size: 20px;
}

.input-text input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 16px;
  border-radius: 16px;
  box-sizing: border-box;
}
